<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    <header>
      <h1>
        A Coffee Chats bot for Zulip
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>This is the backend for a bot allowing current participants of the Recurse Center to get matched for coffee with each other.</p>
      
      <p>To get matched, subscribe yourself to the <a href="https://recurse.zulipchat.com/#narrow/stream/142655-Coffee-Chats">Coffee Chats Zulip channel</a> before 10am on any given day. We'll find you someone to meet up with!</p>
      <p>Coffee isn't required - it could be tea, or snacks, or just a walk - and you don't even have to leave the building if you just want to catch up in the kitchen or somewhere else on the 4th floor.</p>
      <p>If you're sick that day and forget to remove yourself, don't worry! You can just meet with the person you paired with once you're back. </p>
      <p>Feel free to add or remove yourself at any point, (just try to do so before 9am if you don't want to have coffee that day). Thanks and happy chatting!</p>
      
    </main>

    <footer>
      See the source code on <a href="https://glitch.com/edit/#!/zulip-coffee-bot">Glitch</a>!
    </footer>

  </body>
</html>
